body  {
color:red;  
  
}

heading{

}
.navbar{
 height:64px;
 text-align: center;
 padding: 24px 32px;
   
}
  .navbarlist {
  padding:16px;
  }

.blockone {
  
}

.information {
 
}
  .informationtiles{
  
  }
  
.course {

}

  .coursetiles{

  }
.thesis {

}

  .thesistiles{
  
  }
.footer {
  padding: 24px 16px;
}

